html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  padding: 2rem;
}

h1 {
  margin: 0;
}

figure {
  margin: 0;
}
